{% extends 'admin/index.html' %}

{% block title %} صفحه خرید {% endblock %}

{% block admin_content %}

<section class="content-header">

  <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>صورتحساب</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-left">
            <li class="breadcrumb-item"><a href="{{url_for('shopping.index')}}">محصولات</a></li>
            <li class="breadcrumb-item active">صورتحساب</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>ردیف</th>
                      <th>محصول</th>
                      <th class="text-center">تعداد</th>
                      <th> <span># </span><span>سریال</span></th>
                      <th class="text-center">توضیحات</th>
                      <th class="text-center">قیمت کل</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                    <tr>
                      <td>{{loop.index}}</td>
                      <td>{{order.get_product_name()}}</td>
                      <td class="text-center">{{order.number}}</td>
                      <td>۴۵۵-۹۸۱-۲۲۱</td>
                      <td class="text-center">{{order.get_category_name(order.product_id)}}</td>
                      <td class="text-center">{{ order.get_price() * order.number }} تومان</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                  <p class="lead">روش های پرداخت :</p>
                  <img src="{{url_for('static', filename='img/credit/visa.png')}}" alt="Visa">
                  <img src="{{url_for('static', filename='img/credit/mastercard.png')}}" alt="Mastercard">
                  <img src="{{url_for('static', filename='img/credit/american-express.png')}}" alt="American Express">
                  <img src="{{url_for('static', filename='img/credit/paypal2.png')}}" alt="Paypal">

                  <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                    پرداخت از طریق کلیه کارت های بانکی عضو شتاب امکان پذیر می باشد.
                  </p>
                </div>
                <!-- /.col -->
                <div class="col-6">
                  <br>
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                        <th style="width:50%">مبلغ کل :</th>
                        <td> <span>{{sum}}</span> <span>تومان</span></td>
                      </tr>
                      <tr>
                        <th>مالیات (10%)</th>
                        <td><span>{{sum}}</span> <span>تومان</span></td>
                      </tr>
                      <tr>
                        <th>تخفیف :</th>
                        <td> <span>0</span> <span>تومان</span> </td>
                      </tr>
                      <tr>
                        <th>مبلغ قابل پرداخت:</th>
                        <td><span>{{sum_end}}</span> <span>تومان</span></td>
                      </tr>
                    </tbody></table>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                  <a href="{{url_for('shopping.index')}}" class="btn btn-info float-right"><i class="fa fa-shopping-basket"></i> اضافه کردن محصول </a>
                  <form action="{{url_for('shopping.buy_end')}}" method="post">
                    <button type="submit" class="btn btn-success float-left"><i class="fa fa-credit-card"></i> پرداخت صورتحساب</button>
                  </form>
                </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    
</section>
<!-- /.content -->


{% endblock %}