{% extends 'admin/index.html' %}

{% block title %} صفحه خرید {% endblock %}

{% block admin_content %}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            {% if orders != []  %}
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"> لیست محصولات انتخابی </h3>
                </div>
                <!-- /.card-header -->
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped mt-2">
                            <thead>
                                <tr class="text-center">
                                    <th> ردیف </th>
                                    <th> نام محصول </th>
                                    <th>  تعداد </th>
                                    <th> قیمت واحد (تومان) </th>
                                    <th>قیمت مجموع (تومان) </th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr class="text-center">
                                    <td>{{loop.index}}</td>
                                    <td><a href="{{url_for('shopping.product_detail', product_id=order.product_id)}}">{{order.get_product_name()}}</a></td>
                                    <td>{{order.number | int}}</td>
                                    <td>{{'{0:,}'.format(order.get_price() | int)}}</td>
                                    <td>{{'{0:,}'.format( (order.get_price() | int) * (order.number | int) )}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="{{url_for('shopping.product_detail', product_id=order.product_id)}}"
                                                class="btn btn-sm btn-warning"><span class="fa fa-pencil"></span></a>
                                            
                                            <a href="{{url_for('shopping.product_delete', product_id=order.product_id)}}"
                                                class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></a>
                                            
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr class="text-center">
                                    <th> <span class="text-danger"> مجموع </span> </th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th> {{ '{0:,}'.format(sum) }} </th>
                                    <th></th>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <a href="{{url_for('shopping.buy_end')}}" class="btn btn-info mb-2"> تسویه حساب </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card -->
            {% else %}
            <div class="text-center mt-5">
                <p class="text-warning text-lg text-muted"> محصولی جهت خرید انتخاب نشده است </p>
                <a href="{{url_for('shopping.index')}}" class="btn btn-info mb-2"> محصولات </a>
            </div>
            {% endif %}
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->


{% endblock %}