{% extends 'admin/index.html' %}

{% block admin_content %}
<div class="offset-md-3 col-md-6 mt-3">
    <!-- general form elements -->
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title text-center"> ایجاد پست جدید در شبکه اجتماعی </h3>
        </div>
        <form action="{{url_for('social.newpost', username=user.name)}}" method="post" novalidate>
            {{form.csrf_token}}
            {{form.text(class='form-control', rows=5)}}
            <button type="submit" class="btn btn-primary mt-2"> ثبت </button>
        </form>
    </div>
</div>
{% endblock %}
