{% extends 'admin/index.html' %}

{% block title %} لیست کاربران {% endblock %}

{% block admin_content %}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-header">
                    <h3 class="card-title">اطلاعات کاربران</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <div class="input-group dataTables_filter">
                                    <input type="search" class="form-control form-control-sm" placeholder="جستجو در جدول" aria-label="Search" aria-describedby="search-addon" />
                                    <button id="search-button" type="button" class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                      </button>
                                </div>
                            </div>                    
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped mt-2">
                                    <thead>
                                        <tr class="text-center">
                                            <th> ردیف </th>
                                            <th> نام </th>
                                            <th>ایمیل</th>
                                            <th> تلفن </th>
                                            <th>کاربر</th>
                                            <th>وضعیت</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users.items %}
                                        <tr class="text-center">
                                            <td>{{loop.index}}</td>
                                            <td>{{user.name}}</td>
                                            <td>{{user.email}}</td>
                                            <td>
                                                {% if user.phone is not none %}
                                                {{user.phone}}
                                                {% else %}
                                                <p data-toggle="tooltip" title="از قسمت ویرایش ، ثبت کنید"> <span
                                                        class="text-danger">ثبت نشده </span></p>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if user.is_admin() %}
                                                <a href=""
                                                    class="btn btn-sm btn-success {% if user.role == 0 %} disabled {% endif %} ">
                                                    <span> ادمین</span></a>
                                                {% else %}
                                                <div class="btn-group">
                                                    <a href="{{url_for('admin.change_role', user_id=user.id,role=1)}}"
                                                        class="btn btn-sm btn-primary {% if user.role == 1 %} disabled {% endif %}"><span>درجه1</span></a>
                                                    <a href="{{url_for('admin.change_role', user_id=user.id,role=2)}}"
                                                        class="btn btn-sm btn-info {% if user.role == 2 %} disabled {% endif %}"><span>درجه2</span></a>
                                                    <a href="{{url_for('admin.change_role', user_id=user.id,role=3)}}"
                                                        class="btn btn-sm btn-warning {% if user.role == 3 %} disabled {% endif %}"><span>عادی</span></a>
                                                </div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if user.is_admin() %}
                                                <a href=""
                                                    class="btn btn-sm btn-success {% if user.active %} disabled {% endif %}"><span>فعال</span></a>
                                                {% else %}
                                                <div class="btn-group">
                                                    <a href="{{url_for('admin.user_status', user_id=user.id)}}"
                                                        class="btn btn-sm btn-success {% if user.active %} disabled {% endif %}"><span>فعال</span></a>
                                                    <a href="{{url_for('admin.user_status', user_id=user.id)}}"
                                                        class="btn btn-sm btn-danger {% if not user.active %} disabled {% endif %}"><span>غیرفعال</span></a>
                                                </div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="{{url_for('admin.user_edit', user_id=user.id)}}?page={{ request.args['page'] }}&address=users"
                                                        class="btn btn-sm btn-warning">ویرایش</a>
                                                    {% if user.role != 0 %}
                                                    <a href="{{url_for('admin.user_delete', user_id=user.id)}}"
                                                        class="btn btn-sm btn-danger">حذف</a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5"></div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                    <ul class="pagination">
                                        {% if users.has_prev %}
                                        <li class="paginate_button page-item previous disabled" id="example1_previous">
                                            <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0"
                                                class="page-link">قبلی</a>
                                        </li>
                                        {% endif %}
                                        {% for page_number in users.iter_pages() %}
                                            {% if page_number %}
                                                <li class="paginate_button page-item">
                                                    <a href="{{url_for('admin.users', page=page_number)}}"
                                                        aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">
                                                    {{page_number}}
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="paginate_button page-item">
                                                    <a href="#"
                                                        aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">
                                                    {{page_number}}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if users.has_next %}
                                        <li class="paginate_button page-item next" id="example1_next">
                                            <a href="{{url_for('admin.users', page=users.next_num)}}"
                                                aria-controls="example1" data-dt-idx="7" tabindex="0"
                                                class="page-link">بعدی</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->


{% endblock %}