<aside class="main-sidebar sidebar-dark-primary elevation-4 sidebar-dark-info" style="min-height: 788px;">
    <!-- Brand Logo -->
    <a href="{{ url_for('admin.index') }}" class="brand-link bg-dark">
      <img src="{{ url_for('static', filename='img/AdminLTELogo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">پنل مدیریت</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar" style="direction: ltr">
      <div style="direction: rtl">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            {% if current_user.avatar %}
            <img src="{{ url_for('static', filename=current_user.avatar) }}" class="img-circle elevation-2" alt="User Image">
            {% else %}
            <img src="{{ url_for('static', filename='img/avatar.png') }}" class="img-circle elevation-2" alt="User Image">
            {% endif %}
          </div>
          <div class="info">
            {% if current_user.name %}
            <a href="#" class="d-block"> {{current_user.name}} </a>
            {% else %}
            <a href="#" class="d-block"> {{current_user.email}} </a>
            {% endif %}
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item">
              <a href="{{ url_for('admin.index') }}" class="nav-link">
                <i class="nav-icon fa fa-dashboard"></i>
                <p>
                    داشبورد
                  <!-- <i class="right fa fa-angle-left"></i> -->
                </p>
              </a>
            </li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-users"></i>
                <p>
                  کاربران
                  <i class="right fa fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                {% if current_user.role == 0 %}
                <li class="nav-item">
                  <a href="{{ url_for('admin.users') }}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> لیست کاربران </p>
                  </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{ url_for('admin.user_edit', user_id=current_user.id) }}" class="nav-link">
                      <i class="fa fa-circle-o nav-icon"></i>
                      <p> ویرایش کاربر </p>
                    </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('admin.user_create') }}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> افزودن کاربر </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/charts/inline.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> حذف کاربر </p>
                  </a>
                </li>
                <li class="nav-item">
                  {% if current_user.phone_auth %}
                  <div class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> {{current_user.phone}}</p>
                  </div>
                  {% else %}
                  <a href="{{url_for('auth.phone_register')}}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> احراز هویت شماره همراه </p>
                  </a>
                  {% endif %}
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-database"></i>
                <p>
                  وبلاگ
                  <i class="right fa fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{{ url_for('blog.posts') }}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> لیست اخبار </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('blog.post_create') }}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> ایجاد خبر جدید </p>
                  </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('admin.user_edit', user_id=current_user.id) }}" class="nav-link">
                      <i class="fa fa-circle-o nav-icon"></i>
                      <p> ویرایش کاربر </p>
                    </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('admin.user_create') }}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> افزودن کاربر </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/charts/inline.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> حذف کاربر </p>
                  </a>
                </li>
                <li class="nav-item">
                  {% if current_user.phone_auth %}
                  <div class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> {{current_user.phone}}</p>
                  </div>
                  {% else %}
                  <a href="{{url_for('auth.phone_register')}}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> احراز هویت شماره همراه </p>
                  </a>
                  {% endif %}
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-calendar"></i>
                <p>
                  مناسبت ها
                  <i class="right fa fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{{ url_for('events.calendar') }}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>  نمایش تقویم </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('blog.post_create') }}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> ایجاد مناسبت جدید </p>
                  </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('admin.user_edit', user_id=current_user.id) }}" class="nav-link">
                      <i class="fa fa-circle-o nav-icon"></i>
                      <p> ویرایش مناسبت </p>
                    </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('admin.user_create') }}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> افزودن مناسبت </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/charts/inline.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> حذف مناسبت </p>
                  </a>
                </li>
                <li class="nav-item">
                  {% if current_user.phone_auth %}
                  <div class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> {{current_user.phone}}</p>
                  </div>
                  {% else %}
                  <a href="{{url_for('auth.phone_register')}}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> احراز هویت شماره همراه </p>
                  </a>
                  {% endif %}
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-link"></i>
                <p>
                   شبکه اجتماعی
                  <i class="right fa fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{{ url_for('social.index', username=current_user.name) }}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> صفحه اصلی </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('blog.post_create') }}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> ایجاد مناسبت جدید </p>
                  </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('admin.user_edit', user_id=current_user.id) }}" class="nav-link">
                      <i class="fa fa-circle-o nav-icon"></i>
                      <p> ویرایش مناسبت </p>
                    </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('admin.user_create') }}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> افزودن مناسبت </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/charts/inline.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> حذف مناسبت </p>
                  </a>
                </li>
                <li class="nav-item">
                  {% if current_user.phone_auth %}
                  <div class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> {{current_user.phone}}</p>
                  </div>
                  {% else %}
                  <a href="{{url_for('auth.phone_register')}}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> احراز هویت شماره همراه </p>
                  </a>
                  {% endif %}
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-shopping-basket"></i>
                <p>
                    فروشگاه
                  <i class="right fa fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{{ url_for('shopping.index') }}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> صفحه اصلی </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('shopping.products_list') }}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>  لیست محصولات </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('shopping.product_new') }}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> ایجاد محصول جدید </p>
                  </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('shopping.category_create') }}" class="nav-link">
                      <i class="fa fa-circle-o nav-icon"></i>
                      <p>  دسته بندی جدید </p>
                    </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('shopping.cart_list', user_id=current_user.id) }}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> لیست سفارشات  </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{url_for('shopping.best_seller_list')}}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>  لیست پرفروش ها </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{url_for('shopping.transactions')}}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> تراکنش ها </p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-tree"></i>
                <p>
                  اشیای گرافیکی
                  <i class="fa fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="pages/UI/general.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>عمومی</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/UI/icons.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>آیکون‌ها</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/UI/buttons.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>دکمه‌ها</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/UI/sliders.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>اسلایدر‌ها</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-edit"></i>
                <p>
                  فرم‌ها
                  <i class="fa fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="pages/forms/general.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>اجزا عمومی</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/forms/advanced.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>پیشرفته</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/forms/editors.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>ویشرایشگر</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-table"></i>
                <p>
                  جداول
                  <i class="fa fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="pages/tables/simple.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>جداول ساده</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/tables/data.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>جداول داده</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-header">مثال‌ها</li>
            <li class="nav-item">
              <a href="pages/calendar.html" class="nav-link">
                <i class="nav-icon fa fa-calendar"></i>
                <p>
                  تقویم
                  <span class="badge badge-info right">2</span>
                </p>
              </a>
            </li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-envelope-o"></i>
                <p>
                  ایمیل‌ باکس
                  <i class="fa fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="pages/mailbox/mailbox.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>اینباکس</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/mailbox/compose.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>ایجاد</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/mailbox/read-mail.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>خواندن</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-book"></i>
                <p>
                  صفحات
                  <i class="fa fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="pages/examples/invoice.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>سفارشات</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/examples/profile.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>پروفایل</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/examples/login.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>صفحه ورود</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/examples/register.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>صفحه عضویت</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/examples/lockscreen.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>قفل صفحه</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-plus-square-o"></i>
                <p>
                  بیشتر
                  <i class="fa fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="pages/examples/404.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>ارور 404</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/examples/500.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>ارور 500</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/examples/blank.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>صفحه خالی</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="starter.html" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>صفحه شروع</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-header">متفاوت</li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-file"></i>
                <p>مستندات</p>
              </a>
            </li>
            <li class="nav-header">برچسب‌ها</li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-circle-o text-danger"></i>
                <p class="text">مهم</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-circle-o text-warning"></i>
                <p>هشدار</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-circle-o text-info"></i>
                <p>اطلاعات</p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
    </div>
    <!-- /.sidebar -->
</aside>