{% extends 'admin/index.html' %}

{% block title %} ویرایش خبر {{post.name}} {% endblock %}

{% block admin_content %}

<div class="offset-md-2 col-md-8">
    <div class="card card-success">

        <div class="card-header">
            <h3 class="card-title"> ویرایش خبر  </h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form action="{{url_for('blog.post_edit', post_id=post.id)}}" method="post" novalidate  enctype="multipart/form-data">

            {{form.csrf_token}}

            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1"> عنوان خبر </label>
                    {{form.title(class='form-control', value=post.title)}}
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1"> محتوای خبر </label>
                    {{form.content(class='form-control', rows=4)}}
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">ارسال عکس </label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="image" class="custom-file-input" id="" value="{{post.image}}">
                            <label class="custom-file-label" for="exampleInputFile">انتخاب عکس</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text" id="">Upload</span>
                        </div>
                    </div>
                </div>
                <div class="form-check">
                    {{form.publish(class='form-check-input', checked=checked if post.publish == 1)}}
                    <label class="form-check-label" for="exampleCheck1"> منتشر شود؟ </label>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">ویرایش</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}