{% extends 'base.html' %}

{% block title %} صفحه ورود کاربران {% endblock %}

{% block content %}

<div class="login-box">
  {% include 'flash.html' %}
  <div class="login-logo">
    <a href="{{ url_for('auth.login') }}"><b>ورود به سایت</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">فرم زیر را تکمیل کنید و ورود بزنید</p>

      <form action="{{url_for('auth.login')}}" method="post" novalidate>

        {{ form.csrf_token }}

        <div class="input-group mb-3">
          <!-- <input type="email" class="form-control" placeholder="ایمیل"> -->
          {{form.email(class='form-control', placeholder='ایمیل')}}
          <div class="input-group-append">
            <span class="fa fa-envelope input-group-text"></span>
          </div>
        </div>
        <div class="input-group mb-3">
          <!-- <input type="password" class="form-control" placeholder="رمز عبور"> -->
          {{form.password(class='form-control', placeholder='رمز عبور')}}
          <div class="input-group-append">
            <span class="fa fa-lock input-group-text"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox"> یاد آوری من
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">ورود</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <hr>
      <div class="social-auth-links text-center mb-3">
        <a href="#" class="btn btn-block btn-primary">
          <i class="fa fa-facebook mr-2"></i> ورود با اکانت فیسوبک
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fa fa-google-plus mr-2"></i> ورود با اکانت گوگل
        </a>
      </div>
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="{{url_for('auth.forgot_pass')}}">رمز عبورم را فراموش کرده ام.</a>
      </p>
      <p class="mb-0">
        <a href="{{ url_for('auth.register') }}" class="text-center">ثبت نام</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

{% endblock %}