{% extends 'base.html' %}

{% block title %} تغییر گذرواژه {% endblock %}

{% block content %}

<div class="login-box">
    {% include 'flash.html' %}
    <div class="login-logo">
        <a href="#"><b> تغییر گذرواژه </b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">فرم زیر را تکمیل کنید و ورود بزنید</p>

            <form action="{{url_for('auth.reset_pass', user_id=user_id, token=token)}}" method="post" novalidate>

                {{ form.csrf_token }}

                <div class="input-group mb-3">
                    <!-- <input type="password" class="form-control" placeholder="رمز عبور"> -->
                    {{form.password(class='form-control', placeholder='گذرواژه جدید')}}
                    <div class="input-group-append">
                        <span class="fa fa-lock input-group-text"></span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{form.confirm_password(class='form-control', placeholder=' تکرار گذرواژه جدید')}}
                    <div class="input-group-append">
                        <span class="fa fa-lock input-group-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat"> تغییر گذرواژه </button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>

{% endblock %}